<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RevBill BILL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div>

    </div>
    <div>
        <div style="font-size: medium; font-weight: bold; text-align: center;margin-top: -80px">
            DEMAND NOTICE FOR YEAR {year}
        </div>

        <div style="margin-top: 30px">
            <font size="3">
                Notice is hereby given to:<br /><br />
                Customer: <b>{name}, {pid}</b><br />
                Area Office: <b>{area}</b><br />
                Generated Date: <b>{generated-date}</b><br />
                Printed Date: <b>{printed-date}</b><br /> <br />
                In respect of the property situated at: <br />
                Address: <b>{address}</b><br />
            </font>
        </div>

        <br /><br /><br />

        <div>
            <font size="3">
                The {organisation} under the LOCAL GOVERNMENT law demand payment of DEMAND NOTICE FOR THE YEAR
                {year} on the above propertypf the approved rate in respect of the financial year under
                consideration. The amount due for the cuurent year and arrears (if any) of the former is now due
                from you. Payment of the total amount is now due and is to be made at any of the designated banks
                not later than 7 days from the date of this demand notice. If payment is not made within ONE WEEK of
                the day of this Demand Notice, legal proceedings shall be taken immediately.
            </font>
        </div>

        <br />
        <table style="width: 100%;">
            <tr style="margin-left: 15px; margin-right: 15px; padding-right: 30px;">
                <th style="border: 1px solid black; text-align:center;">Year</th>
                <th style="border: 1px solid black; text-align:center;">Bill Reference</th>
                <th style="border: 1px solid black; text-align:center;">Summary</th>
                <th style="border: 1px solid black; text-align:center;">Arrears(₦)</th>
                <th style="border: 1px solid black; text-align:center;">Debit(₦)</th>
                <th style="border: 1px solid black; text-align:center;">Credit(₦)</th>
                <th style="border: 1px solid black; text-align:center;">Balance(₦)</th>
            </tr>
            <tr>
                <td style="border: 1px solid black; text-align:center;">{year}</td>
                <td style="border: 1px solid black; text-align:center;"><b>{bill-reference}</b></td>
                <td style="border: 1px solid black; text-align:center;">{summary}</td>
                <td style="border: 1px solid black; text-align:center;">₦{arrears}</td>
                <td style="border: 1px solid black; text-align:center;">₦{debit}</td>
                <td style="border: 1px solid black; text-align:center;">₦{credit}</td>
                <td style="border: 1px solid black; text-align:center;">₦{balance}</td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:right; font-weight:bold;">Hours of Payment: Monday - Friday 8:00am
                    - 4:00pm</td>
                <td colspan="4" style="text-align:right; font-weight:bold;">Total Due</td>
                <td style="border: 1px solid black; text-align:center;">₦{Total}</td>
            </tr>
        </table>

        <br /><br /><br />

        <font size="3">
            Payments are to be made payable to <b>
                <u>LAGOS STATE GOVERNMENT</u> using the Bill
                REFERENCE on this bill in any of the WEMA BANK branches in cash or certified bank
                Cheques or online payment. Automated Receipts should be collected immediately at the
                bank
            </b>.
        </font>

        <br /><br /><br />

        <div class="container-login100" style="padding:0px;">
            <div style="margin-top:2px; margin-bottom:5px; font-weight:bold;">
                NOTE:
                <i>KINDLY ENSURE THAT THE CHARGES ARE PROMPTLY REMMITTED ACCORDINGLY</i>.
            </div>
        </div>

        <br /><br />

        <div style="margin-top:30px;">
            <div style="width:100%; font-weight:bold;margin-left:15px">
                Yours
                faithfully,
            </div><br />
            <div class="container-login100" style="padding:0px;">
                <img class="img-responsive"
                    src="https://drive.google.com/uc?id=1VwOBRRQ85TqqSUWwtxFoeLqZYDsCzMXK&export=download"
                    alt="lasepa signature" />
            </div>
            <div style="width: 100%; font-weight: bold; margin-left: 15px">
                Dr. Dolapo,.
                A. Fasawe
            </div>
            <div style="width: 100%; font-weight: bold; margin-left: 15px">
                General
                Manager.
            </div>
        </div>

        <br /><br />
    </div>
</body>